*{
    margin: o;
    padding: 0;
}

#body{
    background-image: url(images/im5.jpg);
    background-size: cover;
}
#image1{
    border: 1px solid #0e0810;
    border-radius: 50%;
    margin: 90px;
    padding: 10px;
    box-shadow: 10px 10px 10px #4b0a61;
}
.imBorder{
    border: 2px solid #0e0810;
    border-radius: 10%;
    padding: 10px;
    margin: 100px;
    height: 300px;
    width: 300px;
    background-image: url(images/im11.jpg);
    background-size: cover;
    box-shadow: 10px 10px 10px #4b0a61;
}
.imContainer{
    border: 5px solid #0e0810;
    border-radius: 10%;
    height: 400px;
    width: 400px;
    background-image: url(images/im9.jpg);
    background-size: cover;
    box-shadow: 10px 10px 10px #4b0a61;
    /* display: flex; */
}
#aboutMe{
    font-size: 30px;
    color: rgb(255, 243, 5);

}
.about{
    font-size: 30px;
    border: 2px solid #0e0810;
    border-radius: 10%;
    padding: 10px;
    margin: 100px 100px 100px 200px;
    height: 300px;
    width: 500px;
    background-image: url(images/im7.jpg);
    background-size: cover;
    color: #ffffff;
    box-shadow: 10px 10px 10px #4b0a61;


}
.container1{
    padding: 20px;
    border-radius: 5%;
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/im1.jpg);
    background-size: cover;
}
#education{
    color: #ffffff;
    font-size: 25px;
    border: 2px solid #0e0810;
    border-radius: 10%;
    padding: 10px;
    margin: 100px 10px 100px 100px;
    height: 500px;
    width: 500px;
    box-shadow: 10px 10px 10px #4b0a61;
    background-image: url(images/im4.jpg);
    background-size: cover;

}
#eduTitle{
    color: aqua;
}

#achievement{
    color: #3cff00;
    font-size: 25px;
    border: 2px solid #0e0810;
    border-radius: 10%;
    padding: 10px;
    margin: 100px 10px 100px 100px;
    height: 500px;
    width: 500px;
    box-shadow: 10px 10px 10px #4b0a61;
    background-image: url(images/im7.jpg);
    background-size: cover;
 

}
#achTitle{
    color: aqua;
}
#subject{
    color: hsl(69, 100%, 51%);
    font-size: 30px;
    border: 2px solid #0e0810;
    border-radius: 10%;
    padding: 10px;
    margin: 100px;
    height: 500px;
    width: 500px;
    background-image: url(images/im5.jpg);
    background-size: cover;
    box-shadow: 10px 10px 10px #4b0a61;
}
#subTitle{
    color: aqua;
}

.container2{
    margin-top: 50px;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 1%;
    display: flex;
    justify-content: inline;
    background-size: contain;
    /* background-image: url(images/im2.jpg); */
}